Package: bridge
Version: 1.0.6-1
Depends: 
Provides: 
Source: package/bridge
Section: net
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: mips
Description:  Ethernet bridging configuration utility
 Manage ethernet bridging: a way to connect networks together to 
 form a larger network.
