#!/usr/bin/haserl
<%in /usr/lib/web/libweb.sh %>
<% session_validate %>
<% response_headers %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>WLAN Settings</title>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head>

<body bgcolor="#efefef">
<table width="100%" border="0">
  <tr>
    <td background="orange/right-up.jpg" style="padding-left:30px">
	  <table border="0">
        <tr>
          <td class="top1"><a href="wlan_settings.htm" target="MainFrame">WLAN State</a></td>
          <td class="top1"><a href="wlan_set.htm" target="MainFrame">WLAN Settings</a></td>
          <td class="top1"><a href="security_settings.htm" target="MainFrame">Security Settings</a></td>
		  <td class="top1">Radios Settings</td>
        </tr>
      </table>
	</td>
  </tr>
  <tr>
    <td background="orange/right-down.jpg" class="top2">WLAN Settings-->Radios Settings</td>
  </tr>
</table>
</body>
</html>
