<config>
 <session>
  <session_id/>
  <timestamp/>
  <client_ip/>
  <timeout>1000</timeout>
  <language>en</language>
 </session>
 <system>
  <version>1.1.1</version>
  <type>1000</type>
  <username>admin</username>
  <password>admin</password>
 </system>
 <network>
  <wan>
   <wan_select>3g</wan_select>
  </wan>
  <wlwan>
   <if>ath1</if>
   <enable>no</enable>
   <ssid/>
   <sectype>none</sectype>
   <wep>
    <wepmode>1</wepmode>
    <wepkeytype>hex</wepkeytype>
    <cwepkey>0</cwepkey>
    <wepkey1/>
    <wepkey2/>
    <wepkey3/>
    <wepkey4/>
   </wep>
   <wpa>
    <wpamode>PSK</wpamode>
    <wpapass/>
   </wpa>
   <ip>
    <iptype>auto</iptype>
    <ipaddr/>
    <netmask/>
    <gateway/>
   </ip>
   <dns>
    <dnstype>auto</dnstype>
    <primarydns/>
    <seconddns/>
   </dns>
  </wlwan>
  <ap_3g_wan>
   <PPP_Connection_Mode>
    <connect_mode>Auto_connect</connect_mode>
    <connect_status>Disconnected</connect_status>
   </PPP_Connection_Mode>
   <APN>
    <apn_mode>auto_apn</apn_mode>
    <apn_content/>
   </APN>
   <Dial_setting>
    <Dial_NO>*99#</Dial_NO>
   </Dial_setting>
   <PDP>
    <PDP_type>ip</PDP_type>
    <PDP_mode>auto_pdp</PDP_mode>
    <PDP_address/>
   </PDP>
   <PPP_Auth>
    <auth_mode>chap</auth_mode>
    <user_name/>
    <passwd/>
   </PPP_Auth>
   <PPP_setting>
    <idle_time_enable>disable</idle_time_enable>
    <max_idle_time>3600</max_idle_time>
    <MTU>1500</MTU>
   </PPP_setting>
   <DNS>
    <dns_mode>auto_dns</dns_mode>
    <Primary_dns>0.0.0.0</Primary_dns>
    <second_dns>0.0.0.0</second_dns>
   </DNS>
  </ap_3g_wan>
  <dhcp>
   <dhcpserver>
    <enable>yes</enable>
    <interface>default</interface>
    <leasetime>24</leasetime>
    <ipstart>192.168.100.2</ipstart>
    <ipend>192.168.100.100</ipend>
    <subnet>255.255.255.0</subnet>
    <route>192.168.100.1</route>
   </dhcpserver>
   <dhcpsnooping>
    <enable>no</enable>
    <interface>default</interface>
   </dhcpsnooping>
  </dhcp>
  <wifi0>
   <name>wifi0</name>
   <enable>yes</enable>
   <txpower>0</txpower>
   <mode>bg</mode>
   <region>none</region>
   <channel>1</channel>
   <channel1>1</channel1>
  </wifi0>
  <wifi1>
   <name>wifi1</name>
   <enable>yes</enable>
   <txpower>0</txpower>
   <mode>bg</mode>
   <region>none</region>
   <channel>1</channel>
   <channel1>1</channel1>
  </wifi1>
  <lan>
   <if>default</if>
   <type>bridge</type>
   <proto>dhcp</proto>
   <dhcpcount>3</dhcpcount>
   <ipaddr>192.168.100.1</ipaddr>
   <netmask>255.255.255.0</netmask>
   <gateway>192.168.100.1</gateway>
  </lan>
  <sroute>
   <route1/>
   <route2/>
   <rtip2/>
   <rtmask2/>
   <route3/>
   <rtip3/>
   <rtmask3/>
   <route4/>
   <rtip4/>
   <rtmask4/>
  </sroute>
  <eth0>
   <ip/>
   <netmask/>
   <forward2>yes</forward2>
  </eth0>
  <eth1>
   <ip/>
   <netmask/>
   <forward2>yes</forward2>
  </eth1>
  <vap1>
   <if>ath0</if>
   <create>yes</create>
   <enable>yes</enable>
   <vapdel>%</vapdel>
   <ip/>
   <netmask/>
   <forward2>yes</forward2>
   <broadcast>yes</broadcast>
   <ssid>Autelan</ssid>
   <wlanmode>ap</wlanmode>
   <region>None</region>
   <channel>1</channel>
   <mode>bg</mode>
   <security>none</security>
   <wepkeytype>hex</wepkeytype>
   <wepbit>64</wepbit>
   <wepkey>1</wepkey>
   <passkey1>707a681c70</passkey1>
   <passkey2>a418fd98dd</passkey2>
   <passkey3>5291a3b437</passkey3>
   <passkey4>9a2868dadf</passkey4>
   <authmode>2</authmode>
   <wpamode>PSK</wpamode>
   <passphrase>1234567890</passphrase>
   <encryption>TKIP</encryption>
   <rate>auto</rate>
   <rateb>auto</rateb>
   <beacon>100</beacon>
   <wifi>wifi0</wifi>
  </vap1>
  <radius>
   <radiusip>192.168.1.1</radiusip>
   <authport>1812</authport>
   <sharekey>test</sharekey>
   <radiusip1>192.168.1.1</radiusip1>
   <authport1>1812</authport1>
   <sharekey1>test</sharekey1>
   <radiusaip>192.168.1.1</radiusaip>
   <acceptport>1813</acceptport>
   <asharekey>test</asharekey>
   <radiusaip1>192.168.1.1</radiusaip1>
   <acceptport1>1813</acceptport1>
   <asharekey1>test</asharekey1>
  </radius>
  <set_3g>
   <mode>WCDMA_pre</mode>
  </set_3g>
 </network>
 <firewall>
  <ipfilter>
   <status>disable</status>
   <rule_count>0</rule_count>
   <ipaddr1_start/>
   <ipaddr1_end/>
   <ipaddr2_start/>
   <ipaddr2_end/>
   <ipaddr3_start/>
   <ipaddr3_end/>
   <ipaddr4_start/>
   <ipaddr4_end/>
   <ipaddr5_start/>
   <ipaddr5_end/>
   <ipaddr6_start/>
   <ipaddr6_end/>
   <ipaddr7_start/>
   <ipaddr7_end/>
   <ipaddr8_start/>
   <ipaddr8_end/>
   <ipaddr9_start/>
   <ipaddr9_end/>
   <ipaddr10_start/>
   <ipaddr10_end/>
  </ipfilter>
  <macfilter>
   <status>disable</status>
   <rule_count>0</rule_count>
   <mac1/>
   <mac2/>
   <mac3/>
   <mac4/>
   <mac5/>
   <mac6/>
   <mac7/>
   <mac8/>
   <mac9/>
   <mac10/>
  </macfilter>
  <urlfilter>
   <status>disable</status>
   <rule_count>0</rule_count>
   <url1/>
   <url2/>
   <url3/>
   <url4/>
   <url5/>
   <url6/>
   <url7/>
   <url8/>
   <url9/>
   <url10/>
  </urlfilter>
  <dosfilter>
   <status>disable</status>
  </dosfilter>
  <virtual_server>
   <rule_count>0</rule_count>
   <enable1/>
   <private_ip1/>
   <private_port1/>
   <protocal_type1/>
   <public_port1/>
   <enable2/>
   <private_ip2/>
   <private_port2/>
   <protocal_type2/>
   <public_port2/>
   <enable3/>
   <private_ip3/>
   <private_port3/>
   <protocal_type3/>
   <public_port3/>
   <enable4/>
   <private_ip4/>
   <private_port4/>
   <protocal_type4/>
   <public_port4/>
   <enable5/>
   <private_ip5/>
   <private_port5/>
   <protocal_type5/>
   <public_port5/>
   <enable6/>
   <private_ip6/>
   <private_port6/>
   <protocal_type6/>
   <public_port6/>
   <enable7/>
   <private_ip7/>
   <private_port7/>
   <protocal_type7/>
   <public_port7/>
   <enable8/>
   <private_ip8/>
   <private_port8/>
   <protocal_type8/>
   <public_port8/>
   <enable9/>
   <private_ip9/>
   <private_port9/>
   <protocal_type9/>
   <public_port9/>
   <enable10/>
   <private_ip10/>
   <private_port10/>
   <protocal_type10/>
   <public_port10/>
  </virtual_server>
  <dmz>
   <status/>
   <dmz_ip/>
  </dmz>
  <upnp>
   <status/>
  </upnp>
 </firewall>
 <voip>
  <register_server/>
  <proxy_server/>
  <port>5060</port>
  <auth_user/>
  <auth_pass/>
  <user/>
  <status>Register Fail</status>
 </voip>
</config>

