#!/usr/bin/haserl
<%in /usr/lib/web/libweb.sh %>
<% session_validate %>
<% response_headers %>

<%
xml_config=`config_read /config/system`
xml_username=`config_getoption "$xml_config" username`
xml_session=`config_read /config/session`
xml_session_lang=`config_getoption "$xml_session" language`
%>

<html>
<head>
<%in page_title.htm %>
<link href="image/style.css" rel="stylesheet" type="text/css">
<% include_js admin_set.js %>
<script language="JavaScript" src="util.js" type="text/javascript"></script>
<script language="JavaScript">
var flag="<%= $xml_session_lang %>";
 init_mmenu(flag);
	init_adminmenu(flag);
init_pwdchg(flag);	
function valvalidate()
{
var pass_new= document.all.pass_new.value; 
var pass_new_retype= document.all.pass_new_retype.value; 
var pass_old= document.all.pass_old.value; 
var reg = /^([0-9a-zA-Z`~!@#$%^&*\()_+-={}|[\]\\:";'<>?,./]{5,32})$/;

 if ( pass_old=="" || pass_new=="" || pass_new_retype==""){
     	alert(alert_null);
     	return false;
     }

if(pass_new!=pass_new_retype)
	{
	  alert(alert_diff);
	  document.all.pass_new.value="";
	  document.all.pass_new_retype.value="";
	  document.all.pass_new.focus();
	  return false;
	}
 if ( pass_new.length<5 || pass_new.length>32){
     	alert(alert_range);
		document.all.pass_new.value="";
		document.all.pass_new_retype.value="";
		document.all.pass_new.focus();
     	return false;
     }
 if ( !reg.test(pass_new)){
     	alert(alert_ill);
		document.all.pass_new.value="";
		document.all.pass_new_retype.value="";
		document.all.pass_new.focus();
     	return false;
     }
    	overlayer();
}

function validate()
{
	var status="<%= $my_action_status %>";
	if(status=="Change User or Password Failed")
	{
	  alert("please input user or password correctly");
	  document.all.user_new.focus();
	}
	else if(status=="Change User and Password Successful")
	{
		alert("Change User and Password Successful");
	}
	
}
</script>
</head>
<body onload="validate()">
<%in overlayer.htm %>
<%in menu_administration4.htm %>
<div align="center">
<table bgcolor="#f4f9fd" border="0"  cellpadding="0" cellspacing="0" width="774" >
<tr>
			<td  height="25">
			</td>
</tr>

<tr>
<td align="center"  bordercolor="#f4f9fd">
<form method="post" action="<%= $action_cgi %>" onsubmit="return valvalidate()">
<div align="center">
<table bgcolor="#ffffff" align="center"  bordercolor="#90b5dd"  border="1" cellpadding="0" cellspacing="0">
						<tr>
						<td width="100%" align="center" colspan="2" height="22" bgcolor="#d9d9d9" bordercolor="#d9d9d9"><b><script language="javascript">replace(pwdchg_cp)</script></b></td>
						</tr>
						
						<tr>
						<td colspan="2" height="10">
						</td>
						</tr>
						
						<tr>
						<td align="right" height="24"  bordercolor="#ffffff"><script language="javascript">replace(pwdchg_un)</script>&nbsp;</td>
						<td  bordercolor="#ffffff"><input type="text" name="user_new" value="<%= $xml_username %>" style="width:120px;height:20px;border:1px solid gray"></td>
						</tr>
						
						<tr>
						<td align="right" height="24" width="280" bordercolor="#ffffff"><script language="javascript">replace(pwdchg_op)</script>&nbsp;</td>
						<td width="370" bordercolor="#ffffff"><input type="password" name="pass_old" style="width:120px;height:20px;border:1px solid gray"></td>
						</tr>
						
						<tr>
						<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(pwdchg_np)</script>&nbsp;</td>
						<td bordercolor="#ffffff"><input type="password" name="pass_new" style="width:120px;height:20px;border:1px solid gray"></td>
						</tr>
						
						<tr>
						<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(pwdchg_rnp)</script>&nbsp;</td>
						<td bordercolor="#ffffff"><input type="password" name="pass_new_retype" style="width:120px;height:20px;border:1px solid gray"></td>
						</tr>
						
						<tr>
						<td colspan="2" height="10">
						</td>
						</tr>
						</table>
		        <table  align="center"  border="0" cellpadding="0" cellspacing="0" width="650">
						<tr>
						<td align="center" height="40" valign="middle" colspan="2"><script language="javascript">replace(pwdchg_apply)</script>&nbsp;<script language="javascript">replace(pwdchg_reset)</script></td>
						</tr>
						<tr>
        <td align="right"   colspan="2"><script language="javascript">replace(pwdchg_help)</script></td>
      </tr>
</table>
</div>
<input type="hidden" value="Change Password" name="SERVLET">
</form>
</td>
</tr>

<tr>
			<td  height="25">
			</td>
</tr>
</table>
</div>

<%in page_footer.htm %>
</body>
</html>

