#!/usr/bin/haserl
<%in /usr/lib/web/libweb.sh %>
<% session_validate %>
<% response_headers %>
<%
xml_config=`config_read /config/network/lan`
xml_lan_proto=`config_getoption "$xml_config" proto`
xml_lan_ipaddr=`config_getoption "$xml_config" ipaddr`
xml_lan_netmask=`config_getoption "$xml_config" netmask`
xml_lan_gateway=`config_getoption "$xml_config" gateway`
xml_lan_dhcpcount=`config_getoption "$xml_config" dhcpcount`

xml_sroute=`config_read /config/network/sroute`
xml_sroute_route1=`config_getoption "$xml_sroute" route1`

%>

<html>
<head>
<%in page_title.htm %>
<link href="image/style.css" rel="stylesheet" type="text/css">
<% include_js basic_set.js %>
<script language="JavaScript" src="util.js" type="text/javascript"></script>
<script language="javascript">

function Ip() {
    var reg = /^(\d{1,2}|1\d\d|2[0-1]\d|2[0-2][0-3])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
    var reg1 = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
    var x = document.all.ipaddr;
    var y = document.all.netmask;
      
        
		if(document.all.proto[1].checked == true){
			  if(x.value == ""){
		      alert(alert_lan_ip_null);
		      x.focus(); 
		      return false;
		    } 
		    else
		      if(y.value == ""){
		      	alert(alert_lan_mask_null);
		        y.focus(); 
		        return false;
		      }	      
		
      
		    if (!reg.test(x.value)&&x.value!="") {
				     alert(alert_lan_ip_error);
				     x.focus();
				     return false;
			  }
			  
			  if (!reg1.test(y.value)&&y.value!="") {
				     alert(alert_lan_mask_error);
				     y.focus();
				     return false;
			  }
			  

		}
	  
	  overlayer();
	 
}

function shielding(){
   if(document.all.proto[0].checked == true){      
	  document.getElementById("a1").style.display="none";
	  document.getElementById("a2").style.display="none";
	  document.getElementById("a4").style.display="";
	  }
	else if(document.all.proto[1].checked == true){
	  document.getElementById("a1").style.display="";
	  document.getElementById("a2").style.display="";
	  document.getElementById("a4").style.display="none";
	  document.all.ipaddr.focus(); 
	  }
    
}
 
</script>
</head>
<body onload="shielding()">
<%in overlayer.htm %>
<%in menu_basicsetup.htm %>
<div align="center">
<table bgcolor="#f4f9fd" border="0"  cellpadding="0" cellspacing="0" width="774" >
<tr>
			<td  height="25">
			</td>
</tr>

<tr>
<td align="center"  bordercolor="#f4f9fd">
<form method="post" action="<%= $action_cgi %>" onsubmit="return Ip()">
<div align="center">
		<table bgcolor="#ffffff" align="center"  bordercolor="#90b5dd"  border="1" cellpadding="0" cellspacing="0">
			<tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#d9d9d9" bordercolor="#d9d9d9"><b><script language="javascript">replace(lan_settings_title)</script></b></td>
			</tr>
			
			<tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr>
			<td align="right" height="28" width="280" bordercolor="#ffffff"><input type="radio" <% webui_radiobutton_check "$xml_lan_proto" "dhcp" %> name="proto" value="dhcp"  onclick="shielding();">
			</td><td align="left" width="370" bordercolor="#ffffff"><script language="javascript">replace(lan_settings_dhcp)</script></td>
			</tr>
			
			<tr>
			<td align="right" height="28" bordercolor="#ffffff"><input type="radio" <% webui_radiobutton_check "$xml_lan_proto" "static" %> name="proto" value="static" onclick="shielding();">
			</td><td align="left" bordercolor="#ffffff"><script language="javascript">replace(lan_settings_static)</script></td>
			</tr>
			
			<tr id="a1">
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(lan_settings_ip)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="ipaddr" id="ipaddr" value="<%= "$xml_lan_ipaddr" %>"  ></td>
			</tr>
			
			<tr id="a2">
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(lan_settings_subnet)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="netmask" id="netmask" value="<%= "$xml_lan_netmask" %>" ></td>
			</tr>
			
			
		  
		  <tr id="a4">
			<td align="center" height="28" bordercolor="#ffffff" colspan="2"><script language="javascript">replace(lan_settings_count)</script>
			 <select name="count">
					<option value="3" <% webui_listbox_select "$xml_lan_dhcpcount" "3" %>>3</option>
					<option value="6" <% webui_listbox_select "$xml_lan_dhcpcount" "6" %>>6</option>
					<option value="9" <% webui_listbox_select "$xml_lan_dhcpcount" "9" %>>9</option>
				</select>
			</td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
		  
		  <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#d9d9d9" bordercolor="#d9d9d9"><b><script language="javascript">replace(lan_settings_sroute)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
		  
		  <tr >
			<td align="right" height="20" bordercolor="#ffffff"><b><script language="javascript">replace(lan_settings_droute)</script></b>
			</td><td align="right"  bordercolor="#ffffff">
			</td>
			</tr>
		  
		  <tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(lan_settings_dgw)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="route1"  value="<%= "$xml_sroute_route1" %>" ></td>
			</tr>

	    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>	
		</table>
		<table  align="center"  border="0" cellpadding="0" cellspacing="0" width="650">	
			<tr>
			  <td align="center" height="40" valign="middle" colspan="2" ><script language="javascript" >replace(lan_settings_apply)</script>&nbsp;</td>
			</tr>
			<tr>
        <td align="right"   colspan="2"><script language="javascript">replace(lan_settings_help)</script></td>
      </tr>
		</table>
</div>
<input type="hidden" value="LAN Setup" name="SERVLET">
</form>
</td>
</tr>

<tr>
			<td  height="25">
			</td>
</tr>
</table>
</div>
<%in page_footer.htm %>
</body>
</html>

