#!/usr/bin/haserl
<%in /usr/lib/web/libweb.sh %>
<% session_validate %>
<% response_headers %>
<% 
for vap_num in `seq $NUM_ap`
do
	    xml_vap=`config_read /config/network/vap${vap_num}`
	    eval xml_vap${vap_num}_enable=`config_getoption "$xml_vap" create`
	    eval xml_vap_enable=\$xml_vap${vap_num}_enable
	    [ "$xml_vap_enable" == "yes" ]&&{
	    	eval xml_vap${vap_num}_ip=`config_getoption "$xml_vap" ip`
		    eval xml_vap${vap_num}_netmask=`config_getoption "$xml_vap" netmask`
		    eval xml_vap${vap_num}_fw2=`config_getoption "$xml_vap" forward2`
		  }
done

xml_session=`config_read /config/session`
xml_session_lang=`config_getoption "$xml_session" language`
%>

<html>
<head>
<%in page_title.htm %>
<link href="image/style.css" rel="stylesheet" type="text/css">
<% include_js interface_set.js %>
<script language="JavaScript" src="util.js" type="text/javascript"></script>
<script language="javascript">
	var flag="<%= $xml_session_lang %>";
	var array_vapct=["<%= $xml_vap1_enable %>","<%= $xml_vap2_enable %>","<%= $xml_vap3_enable %>","<%= $xml_vap4_enable %>","<%= $xml_vap5_enable %>","<%= $xml_vap6_enable %>","<%= $xml_vap7_enable %>","<%= $xml_vap8_enable %>","<%= $xml_vap9_enable %>","<%= $xml_vap10_enable %>","<%= $xml_vap11_enable %>","<%= $xml_vap12_enable %>",];
	var vap_count="<%= $NUM_ap %>";
	init_mmenu(flag);
	init_basemenu(flag);
	init_lan(flag);
function Ip() 
{
	  overlayer();	 
}

function dev_check()
{
		 for(var i = 1;i <= vap_count;i++)
		 {
		 		if(array_vapct[i-1] == "yes")
		 		{
		 			var tr_enable = "tab" + i;
		 			document.getElementById(tr_enable).style.display="";
		 		}
		 }
}

</script>
</head>
<body onLoad="dev_check()" >
<%in overlayer.htm %>
<%in page_header.htm %>
<%in menu_interface1.htm %>
<div align="center">
<table bgcolor="#f4f9fd" border="0"  cellpadding="0" cellspacing="0" width="774" >
<tr>
			<td  height="25">
			</td>
</tr>

<tr>
<td align="center"  bordercolor="#f4f9fd">
<form method="post" action="<%= $action_cgi %>" onsubmit="return Ip()">
<div align="center">
<table bgcolor="#ffffff" align="center"  bordercolor="#90b5dd"  border="1" cellpadding="0" cellspacing="0" width="650">
	<tr>
		<td bordercolor="#456f95">						
      <table id="tab1" style="display:none"  bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
		  <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap1)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip1)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip1"  value="<%= "$xml_vap1_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask1)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask1"  value="<%= "$xml_vap1_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap1_fw2" "no" %> name="wlfw21" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw21)</script></td>
			</tr>
			
			<tr>
			<td colspan="2" height="10">
			</td>
			</tr>
		  </table>
		  <table id="tab2"  style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
		  <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap2)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip2)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip2"  value="<%= "$xml_vap2_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask2)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask2"  value="<%= "$xml_vap2_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap2_fw2" "no" %> name="wlfw22" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw22)</script></td>
			</tr>

	    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>	
			
		  </table>
		  <table id="tab3" style="display:none"  bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
		  <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap3)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip3)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip3"  value="<%= "$xml_vap3_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask3)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask3"  value="<%= "$xml_vap3_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap3_fw2" "no" %> name="wlfw23" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw23)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			</table>
		  <table id="tab4"  style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
			<tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap4)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip4)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip4"  value="<%= "$xml_vap4_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask4)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask4"  value="<%= "$xml_vap4_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap4_fw2" "no" %> name="wlfw24" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw24)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
		  
		  </table>
		  <table id="tab5"  style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
		 <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap5)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip5)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip5"  value="<%= "$xml_vap5_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask5)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask5"  value="<%= "$xml_vap5_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap5_fw2" "no" %> name="wlfw25" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw25)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
    </table>
		  <table id="tab6"  style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
    <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap6)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip6)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip6"  value="<%= "$xml_vap6_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask6)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask6"  value="<%= "$xml_vap6_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap6_fw2" "no" %> name="wlfw26" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw26)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
    </table>
		  <table id="tab7"  style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
    <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap7)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip7)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip7"  value="<%= "$xml_vap7_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask7)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask7"  value="<%= "$xml_vap7_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap7_fw2" "no" %> name="wlfw27" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw27)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
      </table>
		  <table id="tab8" style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
      <tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap8)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip8)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip8"  value="<%= "$xml_vap8_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask8)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask8"  value="<%= "$xml_vap8_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap8_fw2" "no" %> name="wlfw28" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw28)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			</table>
		  <table id="tab9" style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
			<tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap9)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip9)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip9"  value="<%= "$xml_vap9_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask9)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask9"  value="<%= "$xml_vap9_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap9_fw2" "no" %> name="wlfw29" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw29)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			</table>
		  <table id="tab10" style="display:none"  bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
			<tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap10)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip10)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip10"  value="<%= "$xml_vap10_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask10)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask10"  value="<%= "$xml_vap10_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap10_fw2" "no" %> name="wlfw210" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw210)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			</table>
		  <table id="tab11" style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
			<tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap11)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip11)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip11"  value="<%= "$xml_vap11_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask11)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask11"  value="<%= "$xml_vap11_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap11_fw2" "no" %> name="wlfw211" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw211)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
		  </table>
		  <table id="tab12" style="display:none" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">	
			<tr>
			<td width="100%" align="left" colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(bnet_vap12)</script></b></td>
			</tr>
		  
		  <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff" width="280"><script language="javascript">replace(bnet_vip12)</script>
			</td><td align="left" bordercolor="#ffffff" width="370"><input type="text" name="wlip12"  value="<%= "$xml_vap12_ip" %>" ></td>
			</tr>
			
			<tr >
			<td align="right" height="28" bordercolor="#ffffff"><script language="javascript">replace(bnet_vmask12)</script>
			</td><td align="left" bordercolor="#ffffff"><input type="text" name="wlmask12"  value="<%= "$xml_vap12_netmask" %>" ></td>
			</tr>
			
			<tr>
			<td align="right" height="24"  bordercolor="#ffffff"><input type="checkbox" <% webui_checkbox_check "$xml_vap12_fw2" "no" %> name="wlfw212" value="no" >&nbsp;</td>
			<td  bordercolor="#ffffff"><script language="javascript">replace(bnet_vfw212)</script></td>
			</tr>

    <tr>
			<td colspan="2" height="10">
			</td>
			</tr>
		</table>
		</td>
   </tr>
</table>
		<table  align="center"  border="0" cellpadding="0" cellspacing="0" width="650">	
			<tr>
			  <td align="center" height="40" valign="middle" colspan="2" ><script language="javascript" >replace(b_lansu)</script>&nbsp;</td>
			</tr>
			<tr>
        <td align="right"   colspan="2"><script language="javascript">replace(wl_help)</script></td>
      </tr>
		</table>
</div>
<input type="hidden" value="Wlif Setup" name="SERVLET">
</form>
</td>
</tr>

<tr>
			<td  height="25">
			</td>
</tr>
</table>
</div>
<%in page_footer.htm %>
</body>
</html>

