#!/usr/bin/haserl
<%in /usr/lib/web/libweb.sh %>
<% session_validate %>
<% response_headers %>

<%

sleep 1
wapi_cert_value=`ps | grep 'wapid' -c`
     
if [ -f /tmp/p12_res ];then
	wapi_p12_value=`cat /tmp/p12_res`
	rm -rf /tmp/p12_res
fi

xml_vap=`config_read /config/network`
vapnum=`config_getoption "$xml_vap" vapnum`
vapname="vap$vapnum"

for vap_allnum in `seq $NUM_ap`
do
	eval "xml_wlan_config_vap${vap_allnum}=\`config_read /config/network/vap${vap_allnum}\`"
	eval "xml_wlan_vap${vap_allnum}_enable=\`config_getoption \"\$xml_wlan_config_vap${vap_allnum}\" create\`"
done

xml_config=`config_read /config/network/vap$vapnum`
xml_wlan_if=`config_getoption "$xml_config" if`
xml_wlan_workmode=`config_getoption "$xml_config" wlanmode`

xml_wlan_authmode=`config_getoption "$xml_config" authmode`
xml_wlan_security=`config_getoption "$xml_config" security`
xml_wlan_wpamode=`config_getoption "$xml_config" wpamode`
xml_wlan_encryption=`config_getoption "$xml_config" encryption`
xml_wlan_wepkey=`config_getoption "$xml_config" wepkey`
xml_wlan_wepkeytype=`config_getoption "$xml_config" wepkeytype`

xml_wlan_wepbit=`config_getoption "$xml_config" wepbit`

xml_wlan_passkey1=`config_getoption "$xml_config" passkey1`
xml_wlan_passkey2=`config_getoption "$xml_config" passkey2`
xml_wlan_passkey3=`config_getoption "$xml_config" passkey3`
xml_wlan_passkey4=`config_getoption "$xml_config" passkey4`
xml_wlan_passphrase=`config_getoption "$xml_config" passphrase`

xml_wapi_authtype=`config_getoption "$xml_config" wapibook`
xml_wapi_sectype=`config_getoption "$xml_config" wapiauth`
xml_wapi_enctype=`config_getoption "$xml_config" wapienc`
xml_wapi_passphrase=`config_getoption "$xml_config" wapipass`
xml_wlan_serverip=`config_getoption "$xml_config" wapisip`
xml_wlan_serverport=`config_getoption "$xml_config" wapisport`
xml_wapi_if3cert=`config_getoption "$xml_config" if3cert`

xml_session=`config_read /config/session`
xml_session_lang=`config_getoption "$xml_session" language`
%>


<html>
<head>
<%in page_title.htm %>
<link href="image/style.css" rel="stylesheet" type="text/css">
<% include_js wireless_set.js %>
<script type="text/javascript" src="sha1.js"></script>
<script language="JavaScript" src="util.js" type="text/javascript"></script>
 <script type="text/javascript">
 	var flag="<%= $xml_session_lang %>";
var array_vapcreate=["<%= $xml_wlan_vap1_enable %>","<%= $xml_wlan_vap2_enable %>","<%= $xml_wlan_vap3_enable %>","<%= $xml_wlan_vap4_enable %>","<%= $xml_wlan_vap5_enable %>","<%= $xml_wlan_vap6_enable %>","<%= $xml_wlan_vap7_enable %>","<%= $xml_wlan_vap8_enable %>","<%= $xml_wlan_vap9_enable %>","<%= $xml_wlan_vap10_enable %>","<%= $xml_wlan_vap11_enable %>","<%= $xml_wlan_vap12_enable %>",];
var vapname="<%= $vapname %>";
var allvap_num="<%= $NUM_ap %>";
var work_mode="<%= $xml_wlan_workmode %>";
	init_mmenu(flag);
	init_wiremenu(flag);
	init_sec(flag);
 
 function wapi_cert()
 {
 	 //no file  success  failure
 	 var x="<%= $wapi_cert_value %>";
 	 var y="<%= $xml_wlan_security %>";
 	 var w="<%= $xml_wapi_sectype %>";
 	  	 var z="<%= $wapi_p12_value %>";
 	 if (z == "failure" && y == "wapi" && w == "11"){
 	 	 alert(sec_alert_p12_fail);
	   return false;
 	 }
 	 if (x != "4" && y == "wapi" && w == "11"){
 	 	 alert(sec_alert_wapi_fail);
	   return false;
 	 }
 }
 
 function genstr(){
		  var str=hex_sha1(document.all.pass.value);
			var substr1=str.substring(0,10);
			var substr2=str.substring(10,20);
			var substr3=str.substring(20,30);
			var substr4=str.substring(30,40);
			var substr11=str.substring(0,26);
			var substr22=str.substring(5,31);
			var substr33=str.substring(10,36);
			var substr44=str.substring(14,40);
			var substr111=str.substring(0,32);
			var substr222=str.substring(2,34);
			var substr333=str.substring(4,36);
			var substr444=str.substring(7,39);
			
			if(document.all.wepbit.value == "64"){
				document.all.passkey1.value = substr1;
				document.all.passkey2.value = substr2;
				document.all.passkey3.value = substr3;
				document.all.passkey4.value = substr4;
			
			}
			   
			if(document.all.wepbit.value == "128"){
				document.all.passkey1.value = substr11;
				document.all.passkey2.value = substr22;
				document.all.passkey3.value = substr33;
				document.all.passkey4.value = substr44;
			
			}
			
			if(document.all.wepbit.value == "152"){
				document.all.passkey1.value = substr111;
				document.all.passkey2.value = substr222;
				document.all.passkey3.value = substr333;
				document.all.passkey4.value = substr444;
			
			}
			
}	

function genascill()
{ 
	    var str1=str_sha1(document.all.pass.value);
	    if(document.all.wepbit.value == "64"){
			   document.all.passkey1.value = str1.substring(0,5);
			   document.all.passkey2.value = str1.substring(5,10);
			   document.all.passkey3.value = str1.substring(10,15);
				 document.all.passkey4.value = str1.substring(15,20);
			}
			
			if(document.all.wepbit.value == "128"){
				 document.all.passkey1.value = str1.substring(0,13);
			   document.all.passkey2.value = str1.substring(2,15);
			   document.all.passkey3.value = str1.substring(4,17);
				 document.all.passkey4.value = str1.substring(6,19);
			}
			
			if(document.all.wepbit.value == "152"){
				 document.all.passkey1.value = str1.substring(0,16);
			   document.all.passkey2.value = str1.substring(2,18);
			   document.all.passkey3.value = str1.substring(4,20);
				 document.all.passkey4.value = str1.substring(3,19);
			}
}

function typeselect()
{
	   if(document.getElementById( "pass" ).value.length < 8){
	       alert(sec_alert_key_phrase);
	       document.getElementById( "pass" ).focus();
	       return false;
	   }
		 if(document.all.etype.value == "hex")
		 {
		 	   genstr();
		 }
		 else
		 {
		 	   genascill();
		 }
}

function passvalidate() {
    var reg = /^[0-9a-fA-F]{1,32}$/;
    var x = document.all.passkey1;
    var y = document.all.passkey2;
    var z = document.all.passkey3; 
    var w = document.all.passkey4; 
    var l = (parseInt(document.all.wepbit.value)-24)/4;
    var p = (parseInt(document.all.wepbit.value)-24)/8; 
    var passphrase = document.all.passphrase;
    
  if (document.all.security[1].checked == true){   
    if(document.all.etype.value == "hex"){
				    if(document.all.wepkey[0].checked == true){  
					    if (!reg.test(x.value) || x.value.length != l) {
							     alert(sec_alert_wepk1);
							     x.focus();
							     return false;
						  }
					  }
					  
					  if(document.all.wepkey[1].checked == true){ 
						  if (!reg.test(y.value) || y.value.length != l) {
							     alert(sec_alert_wepk2);
							     y.focus();
							     return false;
						  }
						}
					  
					  if(document.all.wepkey[2].checked == true){ 
						  if (!reg.test(z.value) || z.value.length != l) {
							     alert(sec_alert_wepk3);
							     z.focus();
							     return false;
						  }
						}
					  
					  if(document.all.wepkey[3].checked == true){ 
						  if (!reg.test(w.value) || w.value.length != l) {
							     alert(sec_alert_wepk4);
							     w.focus();
							     return false;
						  }
						}	
			}
			else
			{
				if(document.all.wepkey[0].checked == true){  
					    if (x.value.length != p) {
							     alert(sec_alert_wepk1);
							     x.focus();
							     return false;
						  }
					  }
					  
					  if(document.all.wepkey[1].checked == true){ 
						  if (y.value.length != p) {
							     alert(sec_alert_wepk2);
							     y.focus();
							     return false;
						  }
						}
					  
					  if(document.all.wepkey[2].checked == true){ 
						  if (z.value.length != p) {
							     alert(sec_alert_wepk3);
							     z.focus();
							     return false;
						  }
						}
					  
					  if(document.all.wepkey[3].checked == true){ 
						  if (w.value.length != p) {
							     alert(sec_alert_wepk4);
							     w.focus();
							     return false;
						  }
						}		
			}	
  }			
			
  else if((document.all.security[2].checked == true || document.all.security[3].checked == true) && document.all.wpamode.value == "PSK"){    
			if (passphrase.value.length < 8 || passphrase.value.length > 64) {
							     alert(sec_alert_length);
							     passphrase.focus();
					 		     return false;
			   }	
  }
  else if(document.all.security[4].checked == true && document.all.sec_type[1].checked == true){
			    	if (document.getElementById("enc_pass").value.length < 8 || document.getElementById("enc_pass").value.length > 64) {         
							     alert(sec_alert_length);
							     document.getElementById("enc_pass").focus();
							     return false;
						  }	
  }
  else if(document.all.security[4].checked == true && document.all.sec_type[2].checked == true){
  		
  		if(document.getElementById("3cert").checked == true){
  			if (document.getElementById("uploadfileas").value == "" || document.getElementById("uploadfileap").value == "" || document.getElementById("uploadfileca").value == ""){
  								 alert(sec_alert_cert_file);
							     document.getElementById("uploadfileas").focus();
							     return false;
  			}
  		}
  		else{
  			if (document.getElementById("uploadfileas").value == "" || document.getElementById("uploadfileap").value == ""){
  								 alert(sec_alert_cert_file);
							     document.getElementById("uploadfileas").focus();
							     return false;
  			}
  		}
  }			  			  
						  
		  document.all.vap_name.value=document.all.vapname.value;	
			overlayer();		
						 
}	

function shielding(){
	if( work_mode != "sta" && work_mode != "client")
	{
	   if(document.all.security[0].checked == true){
		  document.getElementById("a1").style.display="none";
		  document.getElementById("a2").style.display="none";
		  document.getElementById("a3").style.display="none";
		  document.getElementById("a4").style.display="none";
		  document.getElementById("a6").style.display="none";
		  document.getElementById("a7").style.display="none";
		  }
		else if(document.all.security[1].checked == true){
		  document.getElementById("a1").style.display="";
		  document.getElementById("a2").style.display="none";
		  document.getElementById("a3").style.display="none";
		  document.getElementById("a4").style.display="none";
		  document.getElementById("a6").style.display="none";
		  document.getElementById("a7").style.display="none";
		  if(document.all.authmode.value == "3"){
		  document.getElementById("b2").style.display="none";
		  document.getElementById("b3").style.display="none";
		  document.getElementById("b4").style.display="none";
		  document.getElementById("b5").style.display="none";
		  document.getElementById("b6").style.display="none";
		  document.getElementById("b7").style.display="none";
		  document.getElementById("b8").style.display="none";
		  }
		  if(document.all.authmode.value != "3"){
		  document.getElementById("b2").style.display="";
		  document.getElementById("b3").style.display="";
		  document.getElementById("b4").style.display="";
		  document.getElementById("b5").style.display="";
		  document.getElementById("b6").style.display="";
		  document.getElementById("b7").style.display="";
		  document.getElementById("b8").style.display="";
		  }
		  
		}
	  else if(document.all.security[2].checked == true||document.all.security[3].checked == true){
		  document.getElementById("a1").style.display="none";
		  document.getElementById("a2").style.display="";
		  document.getElementById("a3").style.display="";
		  document.getElementById("a4").style.display="none";
		  document.getElementById("a6").style.display="none";
		  document.getElementById("a7").style.display="none";
		  if(document.all.wpamode.value != "PSK"){
		  document.getElementById("a3").style.display="none";
		  }
		}
		else
		{
			document.getElementById("a1").style.display="none";
		  document.getElementById("a2").style.display="none";
		  document.getElementById("a3").style.display="none";
		  document.getElementById("a4").style.display="";
		  document.getElementById("a6").style.display="";
		  document.getElementById("a7").style.display="";
		  if(document.all.sec_type[0].checked == true){
		  	document.getElementById("a6").style.display="none";
		 	  document.getElementById("a7").style.display="none";
		  }
		  else if(document.all.sec_type[1].checked == true)
		  {
		  	document.getElementById("a6").style.display="";
		 	  document.getElementById("a7").style.display="none";
		  }
		  else
		  {
		  	document.getElementById("a6").style.display="none";
		 	  document.getElementById("a7").style.display="";
		 	  
      	if(document.getElementById("3cert").checked==true){
      		document.getElementById("h2").disabled=false;
      	}
      	else if(document.getElementById("3cert").checked==false){
      		document.getElementById("h2").disabled=true;
      	}
		  }
		}
		
		document.getElementById("tab5").style.display="";
		
	}
	else
	{
			document.getElementById("a0").style.display="none";
			document.getElementById("a1").style.display="none";
		  document.getElementById("a2").style.display="none";
		  document.getElementById("a3").style.display="none";
		  document.getElementById("a4").style.display="none";
		  document.getElementById("a6").style.display="none";
		 	  document.getElementById("a7").style.display="none";
		  document.getElementById("tab5").style.display="none";
	}
}	

function if3cert()
{
	if(document.getElementById("3cert").checked==true){
		document.getElementById("h2").disabled=false;
	}
	else if(document.getElementById("3cert").checked==false){
		document.getElementById("h2").disabled=true;
	}
}

function ifp12()
{
	if(document.getElementById("p12").checked==true){
		document.getElementById("h1").style.display="";
	}
	else if(document.getElementById("p12").checked==false){
		document.getElementById("h1").style.display="none";
	}
}

function vap_specific()
{
	 document.form0.onsubmit();
	 document.form0.action="action.cgi";
	 document.form0.submit(); 
}

function vapname_display()
{
	for(var i = 1;i <= allvap_num;i++)
	{
		
			if(array_vapcreate[i-1] == "yes")
			{
				var tmp_vapname="vap"+i;
				if(vapname == tmp_vapname)
				{
				 		document.write("<option value='"+tmp_vapname+"' selected='selected' >"+tmp_vapname+"</option>");
				}
				else
				{
					  document.write("<option value='"+tmp_vapname+"' >"+tmp_vapname+"</option>");
				}
		  }
	}
}
 </script>
</head>
<body onLoad="shielding();wapi_cert()">
<%in overlayer.htm %>
<%in page_header.htm %>
<%in menu_wireless5.htm %>
<div align="center">
<table  bgcolor="#f4f9fd" border="0"  cellpadding="0" cellspacing="0" width="774" >
<tr>
			<td  height="25">
			</td>
</tr>

<tr>
<td align="center"  bordercolor="#f4f9fd">

<div align="center">
	<table bgcolor="#ffffff" align="center"  bordercolor="#90b5dd"  border="1" cellpadding="0" cellspacing="0" width="650">
			<tr>
					<td bordercolor="#456f95">	
						<form method="post" name="form0" action="<%= $action_cgi %>" onsubmit="return overlayer()">					
                        <table  bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td width="100%"  colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(wset_selectap)</script></b></td>
												</tr>
												
												<tr>
												<td colspan="2" height="10">
												</td>
												</tr>
												
												<tr>
													<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(wset_currentap)</script>&nbsp;</td>
													<td  bordercolor="#ffffff" width="370">
													<select name="vapname" onChange="vap_specific()">
														<script language="JavaScript" type="text/javascript">vapname_display()</script>
													</select>	
													</td>
												</tr>
										    
										   
										    
												</table>
												<input type="hidden" value="VAPSpec SEC" name="SERVLET">
											</form>
												<form method="post" name="form1" action="<%= $action_cgi %>" onsubmit="return passvalidate()" enctype="multipart/form-data">
											 <table  id="a0"  bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td  align="left" width="100%" width="650"  colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(sec_wst)</script></b></td>
											  </tr>
												
												<tr >
												<td colspan="2" height="10"></td>
												</tr>
												
												<tr>
												<td align="center" colspan="2" height="24" bordercolor="#ffffff">
												<input type="radio" <% webui_radiobutton_check "$xml_wlan_security" "none" %> name="security" value="none" onClick="shielding()">None &nbsp;
												<input type="radio" <% webui_radiobutton_check "$xml_wlan_security" "wep" %> name="security" value="wep" onClick="shielding()">WEP &nbsp;
												<input type="radio" <% webui_radiobutton_check "$xml_wlan_security" "wpa" %> name="security" value="wpa" onClick="shielding()"> WPA &nbsp;
												<input type="radio" <% webui_radiobutton_check "$xml_wlan_security" "wpa2" %> name="security" value="wpa2" onClick="shielding()"> WPA2 &nbsp;
												<%
													if [ "$WAPI_ENABLE" == "enable" ]; then
												%>
												<input type="radio" <% webui_radiobutton_check "$xml_wlan_security" "wapi" %> name="security" value="wapi" onClick="shielding()"> WAPI &nbsp;
												<%
													fi
												%>
												</td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
											 </table>
											 
											 <table  id="a1" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td align="left" width="100%"  colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(sec_wep)</script></b></td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
												
												<tr id="b1">
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_mod)</script>&nbsp;</td>
												<td height="24" bordercolor="#ffffff" width="370">
												<select name="authmode" onchange="shielding()">
												<option <% webui_listbox_select "$xml_wlan_authmode" "1" %> value="1" >Open System</option>
												<option <% webui_listbox_select "$xml_wlan_authmode" "2" %> value="2" >Shared Key</option>
												<option <% webui_listbox_select "$xml_wlan_authmode" "3" %> value="3" >Radius</option>
												</select>
												</td>
												</tr>
												
												<tr id="b2">
												<td align="right" height="24" bordercolor="#ffffff" ><script language="javascript">replace(sec_etype)</script>&nbsp;</td>
												<td height="24" bordercolor="#ffffff" >
												<select name="etype">
												<option value="hex" <% webui_listbox_select "$xml_wlan_wepkeytype" "hex" %>>Hexadecimal</option>
												<option value="ascii" <% webui_listbox_select "$xml_wlan_wepkeytype" "ascii" %>>Ascii</option>
												</select>
												</td>
												</tr>
												
												<tr id="b3">
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_wepencry)</script>&nbsp;</td>
												<td height="24" bordercolor="#ffffff">
												<select name="wepbit">
												<option value="64"<% webui_listbox_select "$xml_wlan_wepbit" "64" %>>64 bit WEP</option>
												<option value="128"<% webui_listbox_select "$xml_wlan_wepbit" "128" %>>128 bit WEP</option>
												<option value="152"<% webui_listbox_select "$xml_wlan_wepbit" "152" %>>152 bit WEP</option>
												</select>
												</td>
												</tr>
												
												<tr id="b4">
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_weppass)</script>&nbsp;</td>
												<td height="24" bordercolor="#ffffff"><input type="text" id="pass" name="pass">&nbsp;<script language="javascript">replace(sec_generate_button)</script></td>
												</tr>
												
												<tr id="b5">
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_key1)</script>&nbsp;<input type="radio" <% webui_radiobutton_check "$xml_wlan_wepkey" "1" %>  name="wepkey" value="1">&nbsp;</td>
												<td height="24" bordercolor="#ffffff"><input type="text" name="passkey1" value="<%= "$xml_wlan_passkey1" %>"></td>
												</tr>
												
												<tr id="b6">
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_key2)</script>&nbsp;<input type="radio" <% webui_radiobutton_check "$xml_wlan_wepkey" "2" %>  name="wepkey" value="2">&nbsp;</td>
												<td height="24" bordercolor="#ffffff"><input type="text" name="passkey2" value="<%= "$xml_wlan_passkey2" %>"></td>
												</tr>
												
												<tr id="b7">
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_key3)</script>&nbsp;<input type="radio" <% webui_radiobutton_check "$xml_wlan_wepkey" "3" %>  name="wepkey" value="3" >&nbsp;</td>
												<td height="24" bordercolor="#ffffff"><input type="text" name="passkey3" value="<%= "$xml_wlan_passkey3" %>"></td>
												</tr>
												
												<tr id="b8">
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_key4)</script>&nbsp;<input type="radio" <% webui_radiobutton_check "$xml_wlan_wepkey" "4" %>  name="wepkey" value="4" >&nbsp;</td>
												<td height="24" bordercolor="#ffffff"><input type="text" name="passkey4" value="<%= "$xml_wlan_passkey4" %>"></td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
												</table>
											 
											 <table  id="a2" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td align="left" width="100%"  colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(sec_wpa)</script></b></td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
												
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_wpawith)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff" width="370">
												<select name="wpamode" onChange="shielding()">
												<option <% webui_listbox_select "$xml_wlan_wpamode" "PSK" %> value="PSK" >PSK</option>
												<option <% webui_listbox_select "$xml_wlan_wpamode" "RADIUS" %> value="RADIUS">RADIUS</option>
												</select>
												</td>
												</tr>
												
												<tr id="wpa_tr">
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_wpaencry)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff">
												<input type="radio" <% webui_radiobutton_check "$xml_wlan_encryption" "TKIP" %> name="encryption" value="TKIP">TKIP &nbsp;
												<input type="radio" <% webui_radiobutton_check "$xml_wlan_encryption" "AES" %> name="encryption" value="AES">AES&nbsp;
												</td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
												</table>
											 
											 <table  id="a3" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td align="left" width="100%"  colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b><script language="javascript">replace(sec_psk)</script></b></td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
												
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_wpapass)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff" width="370"><input type="text" name="passphrase"  value="<%= "$xml_wlan_passphrase" %>"></td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
											 </table>
											 
											 <table  id="a4" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td align="left" width="100%"  colspan="2" height="22" bgcolor="#456f95" bordercolor="#456f95"><b>WAPI</b></td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
												
												<tr >
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_cert_type)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff" width="370">
												<input type="radio" <% webui_radiobutton_check "$xml_wapi_authtype" "1" %> name="authtype" value="1">X509 &nbsp;
												<input type="radio" <% webui_radiobutton_check "$xml_wapi_authtype" "2" %> name="authtype" value="2">GBW &nbsp;
												</td>
												</tr>
												
												<tr >
												<td align="right" height="24" bordercolor="#ffffff"><script language="javascript">replace(sec_sec_type)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff">
												<input type="radio" <% webui_radiobutton_check "$xml_wapi_sectype" "0" %> name="sec_type" value="0" onClick="shielding()">open &nbsp;
												<input type="radio" <% webui_radiobutton_check "$xml_wapi_sectype" "7" %> name="sec_type" value="7" onClick="shielding()">psk &nbsp;
												<input type="radio" <% webui_radiobutton_check "$xml_wapi_sectype" "11" %> name="sec_type" value="11" onClick="shielding()">certificate &nbsp;
												</td>
												</tr>
												</table>
												
												<table  id="a6" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_etype)</script>&nbsp;</td>
												<td height="24" bordercolor="#ffffff" width="370">
												<select name="enc_type">
												<option value="asc" <% webui_listbox_select "$xml_wapi_enctype" "asc" %>>Ascii</option>
												<option value="hex" <% webui_listbox_select "$xml_wapi_enctype" "hex" %>>Hexadecimal</option>
												</select>
												</td>
												</tr>
												
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_wpapass)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff" width="370"><input type="text" id ="enc_pass" name="enc_pass"  value="<%= "$xml_wapi_passphrase" %>"></td>
												</tr>
											</table>
												
												<table  id="a7" bgcolor="#ffffff" align="center"    border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_cert_serverip)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff" width="370"><input type="text" name="server_ip"  value="<%= "$xml_wlan_serverip" %>"></td>
												</tr>
												
		
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_cert_as)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff" width="370"><input type="file" id="uploadfileas" name="uploadfileas">&nbsp;</td>
												</tr>
												

												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><script language="javascript">replace(sec_cert_ap)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff" width="370"><input type="file" id="uploadfileap" name="uploadfileap">&nbsp;</td>
												</tr>
												
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280">&nbsp;<script language="javascript">replace(sec_p12)</script>&nbsp;</td>
												<td align="left" height="24" bordercolor="#ffffff"><input type="checkbox" id="p12" name="p12" value="on" onClick="ifp12()"></td>
												</tr>
												  
												<tr id="h1" style="display:none">
												  	<td align="right" height="24" bordercolor="#ffffff" width="280">&nbsp;<script language="javascript">replace(sec_p12_pass)</script>&nbsp;</td>
												  	<td align="left" height="24" bordercolor="#ffffff" width="370"><input type="password" id="p12_passwd" name="p12_passwd" style="width:200px;height:20px;border:1px solid #456f95"></td>
												</tr>
											
												<tr>
												<td align="right" height="24" bordercolor="#ffffff" width="280"><input type="checkbox" <% webui_checkbox_check "$xml_wapi_if3cert" "1" %> id="3cert" name="3cert" value="1" onClick="if3cert()">&nbsp;<script language="javascript">replace(sec_cert_ca)</script>&nbsp;</td>
												<td id="h2" align="left" height="24" bordercolor="#ffffff" width="370"><input type="file" id="uploadfileca" name="uploadfileca">&nbsp;</td>
												</tr>
												
												<tr>
												<td colspan="2" height="10"></td>
												</tr>
											 </table>
							 </td>
       </tr>
</table>   
		                   <table id="tab5" align="center"  border="0" cellpadding="0" cellspacing="0" width="650">
												<tr>
												<td align="center" height="40" valign="middle" colspan="2">
												<script language="javascript">replace(sec_apply)</script></td>
												</tr>
												<tr>
									        <td align="right"   colspan="2"><script language="javascript">replace(sec_help)</script></td>
									      </tr>
                       </table>
                
</div>
<input type="hidden" value="SEC Apply" name="SERVLET">
<input type="hidden" name="vap_name" value="">
</form>
</td>
</tr>

<tr>
			<td  height="25">
			</td>
</tr>
</table>
</div>

<%in page_footer.htm %>
</body>
</html>

