6 ODA
6 OSA
2 MTYPE
1 MMV
2 MMTYPE
2 FMI
3 OUI
1 MME_SUBVER
1 RESERVED
2 MME_DATALEN 
1 RESERVED
1 NUM_AVLNS
7 NID
2 RESERVED
1 SNID
1 TEI
4 RESERVED
1 STATIONROLE
6 CCO_MACADDR
1 CCO_TEI
3 RESERVED
1 NUM_STATIONS
5 RESERVED

6 DEVICE_ADDRESS[0]
1 TEI[0]
3 RESERVED
6 BDA[0]
2 TX[0]
1 COUPLING
1 RESERVED
2 RX[0]
2 RESERVED

6 DEVICE_ADDRESS[1]
1 TEI[1]
3 RESERVED
6 BDA[1]
2 TX[1]
1 COUPLING
1 RESERVED
2 RX[1]
2 RESERVED



