6 ODA
6 OSA
# 4 VLAN
2 MTYPE
1 MMV
2 MMTYPE
3 OUI
2 MSTATUS
4 COOKIE
1 RTYPE
2 SIZE
16 DEVICE_FAMILY [16]
16 DEVICE_TYPE [16]
4 FIRMWARE_MAJOR_VERSION
4 FIRMWARE_MINOR_VERSION
4 COMPOSIT_VERSION
4 SUSTAINING_VERSION
4 BUILD_NUMBER
8 BUILD_DATE [8]
12 RELEASE_TYPE [12]
3 FLAGS [3]
4 DRAMSIZE
4 RAM_BLOCK_RX_COUNT
4 RAM_BLOCK_TX_COUNT
4 RAM_BLOCK_SHARED_COUNT
4 RAM_BLOCK_FREE_RX_COUNT
4 RAM_BLOCK_FREE_TX_COUNT
4 RAM_BLOCK_FREE_SHARED_COUNT
4 RELATIVEi_SNR_RDIFF_DB
4 DSP_384_TH_REG_VAL
1 AFE_TX_GAIN_DB
1 AUTHMODE
1 MICRO_CONTOLLER_DAIAG_ENABLED
