0 Ethernet
6 ODA
6 ODA 
# 4 VLAN
2 MTYPE

0 Homeplug
1 MMV
2 MMTYPE
2 FMI
3 OUI

0 Payload
1 MSTATUS
1 RESERVED
2 MME_LENGTH
1 MME_SUBVER
1 RESERVED
6 MACADDRESS
1 TMSLOT
1 RESERVED
1 NUMTMS
1 RESERVED
2 TMNUMACTCARRIERS
4 RESERVED
1 GIL
1 RESERVED
1 AVG_AGC_GAIN
1 RESERVED


