#!/usr/bin/haserl
<%in /usr/lib/web/libweb.sh %>
<% session_validate %>
<% response_headers %>

<%
xml_config=`config_read /config/network/lan`

xml_lan_if=`config_getoption "$xml_config" if`
xml_lan_proto=`config_getoption "$xml_config" proto`

sys_lan_mac=`sys_get_interface_mac "$xml_lan_if" `
sys_lan_ipaddr=`sys_get_interface_ipaddr "$xml_lan_if"`

sys_lan_netmask=`sys_get_interface_netmask "$xml_lan_if"`
sys_lan_gateway=`sys_get_interface_gateway "$xml_lan_if"`
sys_nameserver1=`sys_get_nameserver1`
sys_nameserver2=`sys_get_nameserver2`

xml_session=`config_read /config/session`
xml_session_lang=`config_getoption "$xml_session" language`
%>

<html>
<head>
<%in page_title.htm %>
<link href="image/style.css" rel="stylesheet" type="text/css">
<% include_js status_info.js %>
<script language="JavaScript" src="util.js" type="text/javascript"></script>
<script language="javascript">
	var flag="<%= $xml_session_lang %>";
	init_mmenu(flag);
	init_stamenu(flag);
	init_lansta(flag);
</script>
</head>
<body>
<%in page_header.htm %>
<%in menu_status1.htm %>
<div align="center">
<table bgcolor="#f4f9fd" border="0"  cellpadding="0" cellspacing="0" width="774" >
<tr>
			<td  height="25">
			</td>
</tr>

<tr>
<td align="center"  bordercolor="#f4f9fd">
<form method="post" action="login.cgi">
<div align="center">
<table bgcolor="#ffffff" align="center"  bordercolor="#90b5dd"  border="1" cellpadding="0" cellspacing="0">
							<tr>
							<td colspan="2" align="left"  width="100%"  height="22" bgcolor="#d9d9d9" bordercolor="#d9d9d9"><b><script language="javascript">replace(lansta_system)</script></b></td>
							</tr>
							
							<tr>
							<td colspan="2" height="10">
							</td>
							</tr>
							
							
							<tr>
							<td align="right" height="24" width="280" bordercolor="#ffffff"><script language="javascript">replace(lansta_ip)</script>&nbsp;</td>
							<td  width="370" bordercolor="#ffffff"><%= "$sys_lan_ipaddr" %></td>
							</tr>
							
							<tr>
							<td align="right" height="24"  bordercolor="#ffffff"><script language="javascript">replace(lansta_subnet)</script>&nbsp;</td>
							<td bordercolor="#ffffff"><%= "$sys_lan_netmask" %></td>
							</tr>
							
							<tr>
							<td align="right" height="24"  bordercolor="#ffffff"><script language="javascript">replace(lansta_gateway)</script>&nbsp;</td>
							<td bordercolor="#ffffff"><%= "$sys_lan_gateway" %></td>
							</tr>
							
							<tr>
							<td align="right" height="24"  bordercolor="#ffffff"><script language="javascript">replace(lansta_pdns)</script>&nbsp;</td>
							<td bordercolor="#ffffff"><%= "$sys_nameserver1" %></td>
							</tr>
							
							<tr>
							<td align="right" height="24"  bordercolor="#ffffff"><script language="javascript">replace(lansta_sdns)</script>&nbsp;</td>
							<td bordercolor="#ffffff"><%= "$sys_nameserver2" %></td>
							</tr>
							
							<tr>
							<td align="right" height="24"  bordercolor="#ffffff"><script language="javascript">replace(lansta_mac)</script>&nbsp;</td>
							<td bordercolor="#ffffff"><%= "$sys_lan_mac" %></td>
							</tr>
							
							<tr>
							<td colspan="2" height="10">
							</td>
							</tr>
</table>
<table  align="center"  border="0" cellpadding="0" cellspacing="0" width="650">	
			<tr>
								<td colspan="2" height="20">
								</td>
			</tr>
			
</table>
</div>
</form>
</td>
</tr>

<tr>
			<td  height="25">
			</td>
</tr>
</table>
</div>
<%in page_footer.htm %>
</body>
</html>

